html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255);
}

.board {
  width: 100%;
  height: 1280px;
  display: flex;
  flex-direction: row;
}

.cross {
  width: 75%;
  height: 1280px;
  display: flex;
  flex-direction: column;
}

.column {
  width: 25%;
  height: 1280px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}

.row.app {
  flex-grow: 1.333;
  box-sizing: border-box;
  justify-content: space-around;
}

.image {
  width: 33%;
  margin: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: none;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
}

.image.wide {
  width: 50%;
}

.column > .image {
  width: 100%;
  height: 25%;
  background-size: contain;
  cursor: pointer;
}

.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.video {
  position: absolute;
  height: 100%;
}

.image.i00 {
  background-image: url(imgs/pyramids/0x0E.jpg);
}

.image.i01 {
  background-image: url(imgs/pyramids/0x01.jpg);
}

.image.i02 {
  background-image: url(imgs/pyramids/0x14.jpg);
}

.image.i03 {
  background-image: url(imgs/pyramids/0x16.jpg);
}

.image.dynamic {
  position: relative;
  width: 100%;
  max-width: 300px;
  background-image: url(imgs/cards/0xXX.png);
  background-size: contain;
  border: none;
  padding: 1px;
  box-sizing: border-box;
  user-select: none;
  pointer-events: none;
  cursor: default;
}
.image.dynamic.active {
  pointer-events: inherit;
  cursor: pointer;
}
.image.dynamic.active:hover {
  opacity: .8;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  box-sizing: border-box;
  font-family: sans-serif;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
